* {
    padding: 0px;
    margin: 0px;
}
.head-container {
    background-color: #143481;
    text-align: center;
    display: flex;
    height: 50px;
}
a {
    text-decoration: none;
    color: white;
}


.head-right {
    display: inline;
    text-align: center;
}
.head-right > ul> li{
    display: inline;
    padding: 0px 7px;
}
.head-Logo {
    /* display: inline; */
}
.head-left {
    /* display: inline; */
    /* text-align: center; */
}
.head-left > ul> li{
    display: inline;
    padding: 0px 7px;
}